.btn:hover{
    transform : translateY(-3px);
  }
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  .btn:active{
    transform:translateY(-1px);
  }
  .btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
 .shadow-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-header{
      background-color: rgb(59, 100, 194);
  }
  .table_effects {
    background-color: #fff;
  }
  .table_effects.ver {
    border-radius: 8px;
    overflow: hidden;
  }