<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col" style="margin-top: 10px;">
      <div class="card shadow">
        <div class="card-header text-white">
          <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col">
              <form (ngSubmit)="FormLogs(f)" #f="ngForm">
                <div class="form-group">
                  <label>Device</label>
                  <select name="inputDevice" class="form-control" [(ngModel)]="dataForm.inputDevice">
                    <option value="keyboard">Keyboard</option>
                    <option value="reader">Reader</option>
                    <option value="camera">Camera</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Document Type</label>
                  <select name="docType" class="form-control" [(ngModel)]="dataForm.docType">
                    <option value="card">Card</option>
                    <option value="passport">Passport</option>
                    <option value="face">Face</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Issuer</label>
                  <select name="issuer" class="form-control" [(ngModel)]="dataForm.issuer">
                    <option *ngFor="let c of dataCountry.country" value="{{ c.alpha3 | lowercase }}">{{ c.enName }}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Addendum</label>
                  <input type="text" name="addendum" class="form-control" required #addendum="ngModel" [(ngModel)]="dataForm.addendum" />
                  <small class="form-text text-danger" *ngIf="!addendum.valid && addendum.touched">กรุณาตรวจสอบข้อมูล Addendum</small>
                </div>

                <div class="form-group">
                  <label>Location</label>
                  <input type="text" name="location" class="form-control" #location="ngModel" required [(ngModel)]="dataForm.location" />
                  <small class="form-text text-danger" *ngIf="!location.valid && location.touched">กรุณาตรวจสอบข้อมูล location</small>
                </div>

                <div class="form-group" *ngIf="hide">
                  <input type="file" accept="image/*" #image (change)="pictureChange(image)" required />
                </div>

                <button type="submit" class="btn btn-primary float-left shadow-1" [disabled]="!f.valid">
                  <i class="far fa-save"></i> บันทึกข้อมูล
                </button>
                <a routerLink="/logs">
                  <button type="submit" class="btn btn-danger float-right shadow-1"><i class="far fa-times-circle"></i> ยกเลิก</button>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
