<div class="modal-header text-white bg-dark">
    <!-- <h4 class="modal-">{{ title }}</h4> -->
      <!-- <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      {{ message }}
    </div>
    <div class="modal-footer">
        <div class="container">
      <div class="row justify-content-center">
      <div class="col-4">
     <button type="button" class="btn btn-primary btn-sm button btn-block" (click)="accept()">{{ btnOkText }}</button> 
    </div>
      <div class="col-4">
     <button type="button" class="btn btn-danger btn-sm button btn-block" (click)="decline()">{{ btnCancelText }}</button>
    </div>
    </div>
    </div>
    </div>
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ title }}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"(click)="accept()">{{ btnOkText }}</button>
              <button type="button" class="btn btn-primary"(click)="decline()">{{ btnCancelText }}</button>
            </div>
          </div>
        </div>
      </div> -->