<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col" style="margin-top: 10px;">
      <div class="card shadow">
        <div class="card-header text-white">
          <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col">
              <form (ngSubmit)="FormCriminal(f)" #f="ngForm">
                <div class="form-group">
                  <label>เลขที่บัตรประชาชน</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="เลขที่บัตรประชาชน"
                    name="citizenId"
                    #citizenId="ngModel"
                    pattern="[0-9]*"
                    required
                    [(ngModel)]="criminalData.citizenId"
                  />
                  <small class="form-text text-danger" *ngIf="!citizenId.valid && citizenId.touched">กรุณาตรวจสอบข้อมูล เลขที่บัตรประชาชน</small>
                </div>

                <div class="form-group">
                  <label>ชื่อ นามสกุล</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="ชื่อ นามสกุล"
                    name="fullName"
                    #fullName="ngModel"
                    required
                    [(ngModel)]="criminalData.fullName"
                  />
                  <small class="form-text text-danger" *ngIf="!fullName.valid && fullName.touched">กรุณาตรวจสอบข้อมูล ชื่อ นามสกุล</small>
                </div>

                <div class="form-group">
                  <label>ประเทศที่ออกบัตร</label>
                  <select name="issuer" class="form-control" [(ngModel)]="criminalData.issuer">
                    <option *ngFor="let c of dataCountry.country" value="{{ c.alpha3 | lowercase }}">{{ c.enName }}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>กลุ่ม</label>
                  <select name="group" class="form-control" [(ngModel)]="criminalData.group">
                    <option value="group1">เฝ้าระวัง</option>
                    <option value="group2">แนวร่วม</option>
                    <option value="group3">มีหมายจับ</option>
                    <option value="group4">หัวหน้า</option>
                  </select>
                </div>

                <div class="form-group" *ngIf="hide">
                    
                  <input type="file" accept="image/*" #image (change)="pictureChange(image)" required/>
                </div>

                <div class="form-group">
                  <label>ข้อมูลเพิ่มเติม</label>
                  <textarea name="remarks" class="form-control" placeholder="ข้อมูลเพิ่มเติม" [(ngModel)]="criminalData.remarks"></textarea>
                </div>

                <button type="submit" class="btn btn-primary float-left shadow-1" [disabled]="!f.valid">
                  <i class="far fa-save"></i> บันทึกข้อมูล
                </button>
                <a routerLink="/criminal"
                  ><button type="submit" class="btn btn-danger float-right shadow-1"><i class="far fa-times-circle"></i> ยกเลิก</button></a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
