<div class="container-fluid">
  <div class="row justify-content-between" style="margin-top: 10px;">
    <div class="col-sm-4 col">
      <a class="btn btn-success shadow-1" routerLink="/criminal/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> เพิ่มข้อมูล</a>
    </div>
    <div class="col-sm-3 col">
      <input type="text" class="form-control shadow-1" placeholder="ค้นหา" [(ngModel)]="filter.fullName" />
    </div>
  </div>
  <div class="card" style="margin-top: 10px;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered shadow table-hover table_effects ver">
          <thead class="thead-light">
            <tr>
              <th>No.</th>
              <th class="text-center">Photo</th>
              <th>CitizenId</th>
              <th>Country</th>
              <th>Full Name</th>
              <th>Group</th>
              <th>Remarks</th>
              <!-- <th class="text-center">View</th> -->
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
          </thead>
          <tr *ngFor="let c of dataCriminals | filterBy: filter | paginate: { itemsPerPage: 15, currentPage: page }; index as i">
            <td>{{ i + 1 }}</td>
            <td class="text-center">
              <a (click)="showImage(c._id)"data-toggle="modal" data-target=".bd-example-modal-xl" >
                <img src="http://192.168.1.100/api/santisuk/watchlists/{{ c._id }}/photo" width="100" class="zoom-in shadow-1"/>
              </a>
            </td>
            <td>{{ c.citizenId }}</td>
            <td>{{ c.issuer }}</td>
            <td>{{ c.fullName }}</td>
            <!-- group -->
            <td *ngIf="c.group == 'group1'">เฝ้าระวัง</td>
            <td *ngIf="c.group == 'group2'">แนวร่วม</td>
            <td *ngIf="c.group == 'group3'">มีหมายจับ</td>
            <td *ngIf="c.group == 'group4'">หัวหน้า</td>
            <!-- end group -->
            <td>{{ c.remarks }}</td>
            <!-- <td class="text-center">
             <a routerLink="/criminal/{{ c._id }}/show"><i class="fas fa-eye text-info btn" data-toggle="tooltip" data-placement="top" title="View"></i></a>
          </td> -->
            <td class="text-center">
              <a routerLink="/criminal/{{ c._id }}/edit"
                ><i class="far fa-edit text-secondary btn" data-toggle="tooltip" data-placement="top" title="Edit"></i
              ></a>
            </td>
            <td class="text-center">
              <a (click)="deleteCriminal(c._id)"
                ><i class="far fa-trash-alt text-danger btn" data-toggle="tooltip" data-placement="top" title="Delete"></i
              ></a>
            </td>
          </tr>
        </table>

        <pagination-controls (pageChange)="page = $event" *ngIf="dataCriminals?.length > 15"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <img src="http://192.168.1.100/api/santisuk/watchlists/{{ photoShow }}/photo" width="100%"/>
    </div>
  </div>
</div>

