<nav class="navbar navbar-expand-lg navbar-light shadow-1">
  <a class="navbar-brand text-white" routerLink="/criminal" routerLinkActive="active"><h2>Cloud Database</h2></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" /> -->
      <a routerLink="/logs" class="nav-link text-white"><h4>Logs</h4></a>
      <!-- <h5 class="text-white">{{ dateNow | date : 'd MMMM y'}}</h5> -->
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
