.navbar{
    background-image: linear-gradient(120deg,   rgb(36, 83, 190) 0%,  rgb(47, 149, 212) 100%);
}
.link{
	color: #000000;
	font-size: 16px;
	font-weight: 700;

	text-decoration: none;
	text-transform: uppercase;
}

/*
* These styles creates the underlining of link
*/

.link{
	position: relative;
	z-index: 1;
	display: inline-flex;
	
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.link::before{
	content: "";
	width: 100%;
	height: 50%;
	background-image: linear-gradient(to top, #ffffff 25%, rgba(0, 0, 0, 0) 40%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;

	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

.link:hover::before{
	width: 0;
}

/*
* animation styles
*/

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}
.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }