<div class="container-fluid">
  <div class="row justify-content-between" style="margin-top: 10px;">
    <div class="col-sm-4 col">
      <a class="btn btn-success shadow-1" routerLink="/logs/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> เพิ่มข้อมูล</a>
    </div>
    <div class="col-sm-3 col">
      <!-- <input type="text" class="form-control shadow-1" placeholder="ค้นหา" /> -->
    </div>
  </div>
  <div class="card" style="margin-top: 10px;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered shadow table-hover table_effects ver">
          <thead class="thead-light">
            <tr>
              <th>No.</th>
              <th class="text-center">Photo</th>
              <th>Device</th>
              <th>Doc Type</th>
              <th>Issuer</th>
              <th>Addendum</th>
              <th>Location</th>
              <!-- <th class="text-center">View</th> -->
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
          </thead>
          <tr *ngFor="let c of dataLogs | paginate: { itemsPerPage: 15, currentPage: page }; index as i">
            <td>{{ i + 1 }}</td>
            <td class="text-center">
              <a (click)="showImage(c._id)" data-toggle="modal" data-target=".bd-example-modal-xl">
                  <img src="http://192.168.1.100/api/santisuk/logs/{{ c._id }}/image" width="100" class="zoom-in shadow-1"/>
              </a>
            </td>
            <td>{{ c.inputDevice }}</td>
            <td>{{ c.docType }}</td>
            <td>{{ c.issuer }}</td>
            <td>{{ c.addendum }}</td>
            <td>{{ c.location }}</td>
            <!-- <td class="text-center">
                   <a routerLink="/criminal/{{ c._id }}/show"><i class="fas fa-eye text-info btn" data-toggle="tooltip" data-placement="top" title="View"></i></a>
                </td> -->
            <td class="text-center">
              <a routerLink="/logs/{{ c._id }}/edit"
                ><i class="far fa-edit text-secondary btn" data-toggle="tooltip" data-placement="top" title="Edit"></i
              ></a>
            </td>
            <td class="text-center">
              <a (click)="deleteLog(c._id)"
                ><i class="far fa-trash-alt text-danger btn" data-toggle="tooltip" data-placement="top" title="Delete"></i
              ></a>
            </td>
          </tr>
        </table>

        <pagination-controls (pageChange)="page = $event" *ngIf="dataLogs?.length > 15"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <img src="http://192.168.1.100/api/santisuk/logs/{{ imageShow }}/image" width="100%"/>
      </div>
    </div>
  </div>
